version: '3.8'

services:
  betterforward_privated:
    container_name: betterforward_privated

    build:
      context: .
      dockerfile: Dockerfile

    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - ./data:/app/data

    # 如果以后你要加 redis / postgres
    # 可以在这里扩展

    # 自动重新构建提示：
    # docker compose up -d --build
