version: '3.8'

services:
  betterforward_service:

    # ✅ 镜像名称
    image: betterforward_privated

    # ✅ 容器名称
    container_name: betterforward_docker

    build:
      context: .
      dockerfile: Dockerfile
      # ✅ 强制每次构建拉取基础镜像
      pull: true

    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - ./data:/app/data

    # 强制重新创建容器
    deploy:
      replicas: 1
